:root {
  /* colors */

  --color-black: #000;
  --color-white: #fff;
  --text-dark-color: var(--color-black);
  --text-light-color: var(--color-white);
  --background-color-dark: var(--color-black);
  --background-color-light: var(--color-white);

  /* typography */
  --typography-heading-1: 2.5em;
  --typography-heading-2: 2.25em;
  --typography-heading-3: 1.5em;
  --typography-paragraph: 1em;
  --typography-paragraph-lead: 1.5em;
  /* header */
  --header-content-padding-inline-start: 20px;
  --header-content-padding-inline-end: 20px;
  --header-content-padding-block-start: 20px;
  --header-content-padding-block-end: 20px;
  /* header mobile */
  --header-content-mobile-padding-block-end: 10px;
  --header-content-mobile-padding-block-start: 10px;
  --header-content-mobile-padding-inline-start: 10px;
  --header-content-mobile-padding-inline-end: 10px;

  /* Nav item */
  --nav-item-padding-inline-start: 0;
  --nav-item-padding-inline-end: 20px;
  --nav-item-padding-block-start: 0;
  --nav-item-padding-block-end: 0;
  /* Nav Item Mobile */
  --nav-item-mobile-padding-inline-start: 0;
  --nav-item-mobile-padding-inline-end: 0;
  --nav-item-mobile-padding-block-end: 10px;
  --nav-item-mobile-padding-block-start: 10px;

  /* Nav list */
  --nav-list-flex-direction: column;
  --nav-list-display: none;
  --nav-list-block-size: 94vh;
  --nav-toggle-btn-display: block;
  /*  Nav list mobile */
  --nav-list-inline-size: 50%;
  --nav-list-mobile-padding-inline-end: 10px;
  --nav-list-align-items: center;
  --nav-list-mobile-padding-block-start: 3rem;

  /* hero section card */
  --hero-section-card-mobile-inline-size: 100%;
  --hero-section-card-inline-size: 50%;

  /* over ons */

  --over-ons-item-inline-size: 50%;
  --over-ons-item-mobile-inline-size: 100%;

  /* row  tokens*/
  --row-gap: 20px;

  /* testimonial */
  --testimonial-margin-block: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

/* Utils */

/* Table */

th,
td {
  padding-inline: 10px;
  padding-block: 10px;
  font-weight: normal;
  white-space: nowrap;
}

/* Overlay */

.overlay {
  position: relative;
  padding-block: 20px;
  background-size: cover;
}

.overlay::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

/* Flex box */

.flexbox-grid {
  --min: 35ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.flexbox-grid > * {
  flex: 1 1 var(--min);
}

/* Headings */
.heading-1 {
  font-size: var(--typography-heading-1);
}

.heading-2 {
  font-size: var(--typography-heading-2);
}

.heading-3 {
  font-size: var(--typography-heading-3);
}

/* Paragraph */
p {
  font-size: var(--typography-paragraph);
}

/* Lead Paragraph */
.paragraph--lead {
  font-size: var(--typography-paragraph-lead);
}

/* Primary Button */
.button--primary {
  background-color: var(--background-color-dark);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Secondary Button */
.button--secondary {
  background-color: #999;
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav__link {
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.3s;
  font-size: 18px;
  text-transform: uppercase;
  font-family: inherit;
}

.nav__link:hover {
  color: #999;
}

.btn-hover {
  background-color: var(--background-color-light);
  color: var(--color-black);
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-hover:hover {
  background: none;
  border: 1px solid #fff;
  color: var(--color-white);
}

img {
  inline-size: 100%;
}

/* Navbar */

.header {
  background-color: var(--background-color-dark);
  position: relative;
}

.header__content {
  padding-inline-start: var(--header-content-mobile-padding-inline-start);
  padding-inline-end: var(--header-content-mobile-padding-inline-end);
  padding-block-start: var(--header-content-mobile-padding-block-start);
  padding-block-end: var(--header-content-mobile-padding-block-end);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.logo__image {
  inline-size: 220px;
  cursor: pointer;
}

.nav__toggle-btn {
  display: var(--nav-toggle-btn-display);
  background: transparent;
  color: var(--color-white);
  border: none;
  font-size: 44px;
}

.nav__list {
  display: var(--nav-list-display);
  flex-direction: var(--nav-list-flex-direction);
  align-items: center;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 64px;
  width: var(--nav-list-inline-size);
  background-color: var(--background-color-dark);
  block-size: var(--nav-list-block-size);
  padding-block-start: var(--nav-list-mobile-padding-block-start);
  padding-inline-end: var(--nav-list-mobile-padding-inline-end);
  align-items: var(--nav-list-align-items);
  z-index: 3;
}

.nav__list--mobile {
  --nav-list-display: flex;
}

.nav__item {
  padding-inline-start: var(--nav-item-mobile-padding-inline-start);
  padding-inline-end: var(--nav-item-mobile-padding-inline-end);
  padding-block-start: var(--nav-item-mobile-padding-block-start);
  padding-block-end: var(--nav-item-mobile-padding-block-end);
}

.nav__item:last-child {
  padding-inline-end: 0;
}

/* Main */

main {
  scroll-behavior: smooth;
}

/* Hero section */
.hero-section {
  background-image: url(./images/hero-section-background-image.jpg);
  background-position: center;
  display: flex;
  min-block-size: 750px;
  align-items: center;
}

.hero-section__card {
  inline-size: var(--hero-section-card-mobile-inline-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  padding-block: 3rem;
  padding-inline: 1rem;
  position: relative;
  z-index: 2;
}

.hero-section__card-title {
  padding-block-end: 45px;
}

.hero-section__card-description {
  text-align: center;
  padding-block-end: 45px;
}

/* Over ons */
.over-ons {
  --card-padding-inline: 20px;
  --over-ons-padding-block: 20px;
  padding-block: var(--over-ons-padding-block);
}
.over-ons__title {
  --over-ons-title-font-size: var(--typography-heading-2);
  --over-ons-title-color: var(--color-black);
  --over-ons-title-margin-block-end: 10px;

  font-size: var(--over-ons-title-font-size);
  color: var(--over-ons-title-color);
  font-family: inherit;
  margin-block-end: var(--over-ons-title-margin-block-end);
}
.over-ons__description {
  --over-ons-description-font-size: var(--typography-paragraph);
  --over-ons-description-color: var(--color-black);

  font-size: var(--over-ons-description-font-size);
  color: var(--over-ons-description-color);
  font-family: inherit;
}
.over-ons__item {
  inline-size: var(--over-ons-item-mobile-inline-size);
}

.over-ons-description {
  width: 80%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--card-padding-inline);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap);
}

.behandelingen {
  --behandelingen-padding-block: 10px;

  padding-block: var(--behandelingen-padding-block);
  background-image: url(/images/behandelingen-section-background-image.jpg);
  display: flex;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.behandelingen .container {
  z-index: 2;
  color: var(--color-white);
  padding: 0;
  margin-block-end: 60px;
}

table {
  border-inline-start: 1px solid;
  border-inline-end: 1px solid;
  border-block-end: 1px solid;
  background-color: rgba(56, 56, 56, 0.7);
  padding-block: 30px;
  margin-block: 40px;
  text-align: justify;
  z-index: 2;
  color: var(--color-white);
  inline-size: 50%;
  margin: auto;
  padding-inline: 8px;
}

caption {
  border-inline-start: 1px solid;
  border-inline-end: 1px solid;
  border-block-start: 1px solid;
  background: rgba(56, 56, 56, 0.7);
}

.table__title {
  --table__title-font-size: 20px;

  font-size: var(--table__title-font-size);
  font-weight: 700;
}
.behandelingen__title {
  text-align: center;
  margin-block: 60px;
}

.behandelingen__image {
  inline-size: 100%;
  margin-block: 40px;
}

/* Ervaring */

.testimonial {
  --testimonial-padding-block: 20px;
  padding-block: var(--testimonial-padding-block);
  margin-block-end: 60px;
}

.testimonial-title {
  text-align: center;
}

.testimonial__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 40px;
}

.testimonial__card-avatar {
  inline-size: 30px;
}

.testimonial__card-username {
  padding-block: var(--testimonial-margin-block);
}

.testimonial__card-rating {
  width: 100px;
}

.testimonial__card-date-time {
  white-space: nowrap;
  color: #999;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-block: var(--testimonial-margin-block);
}

/* Gallery */

.gallery{
  background-color: var(--background-color-dark);
  padding-block-end: 60px;
}

.gallery__info {
  --gallery-padding-block: 60px;
  padding-block: var(--gallery-padding-block);
  text-align: center;
  color: var(--color-white);
}

.gallery__title {
  padding-block-end: 10px;
}

@media (min-width: 425px) {
  table {
    inline-size: 400px;
  }

  .behandelingen__image {
    inline-size: 200px;
  }
}

@media (min-width: 769px) {
  .header__content {
    --header-content-mobile-padding-inline-start: var(
      --header-content-padding-inline-start
    );
    --header-content-mobile-padding-inline-end: var(
      --header-content-padding-inline-end
    );
    --header-content-mobile-padding-block-start: var(
      --header-content-padding-block-start
    );
    --header-content-mobile-padding-block-end: var(
      --header-content-padding-block-end
    );
  }

  .nav__toggle-btn {
    --nav-toggle-btn-display: none;
  }

  .nav__list {
    --nav-list-mobile-padding-inline-end: 0;
    --nav-list-mobile-padding-block-start: 0;
    --nav-list-flex-direction: row;
    --nav-list-block-size: 100%;
    --nav-list-inline-size: 100%;
    --nav-list-display: flex;
    --nav-list-align-items: center;
    position: initial;
  }

  .nav__item {
    --nav-item-mobile-padding-inline-start: var(
      --nav-item-padding-inline-start
    );
    --nav-item-mobile-padding-inline-end: var(--nav-item-padding-inline-end);
    --nav-item-mobile-padding-block-end: var(--nav-item-padding-block-end);
    --nav-item-mobile-padding-block-start: var(--nav-item-padding-block-start);
  }

  .hero-section__card {
    --hero-section-card-mobile-inline-size: var(
      --hero-section-card-inline-size
    );
  }
  .over-ons__item {
    --over-ons-item-mobile-inline-size: calc(
      var(--over-ons-item-inline-size) - var(--row-gap)
    );
  }

  table {
    inline-size: 641px;
  }

  .behandelingen__image {
    inline-size: 300px;
  }

  .testimonial__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .testimonial__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .testimonial__card-date-time {
    justify-content: flex-start;
  }

  .testimonial__card-text {
    inline-size: 80%;
  }
}
